.card-title {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    padding-top: 10px;

}
label {
    display: flex;
    margin-bottom: 0rem;
    color: gray;
    font-size: 0.9rem;
}
.card{
    border-radius: 0.8rem;
    width: 300px;
    margin: 150px;
}
.card-body {
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
    padding-right: 1.6rem;
}
#submit-btn{
    display: flex;
    justify-content: flex-end;
}
#username-form , #password-form{ 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 0.8rem;
}
#form-container{
    display: flex;
    justify-content: center;
}
.login-container{
    display: flex;
    justify-content: center;
    align-content:center ;
    height: 65%;

}