#row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8%;
    flex-shrink: 0.5;
    width: 80vw;
    margin: 5px;
    border-radius: 1.2rem;
}

#body-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img{
    height: 4rem;
    width: 4rem;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 0.8rem;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 1.2rem;
}
#status-container{
    display: flex;

}
#button-end{
    display: flex;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
  }
.dot-red {
    background-color: #e74c3c;
  }
.dot-green {
    background-color: #2ecc71;
  }
.dot-yellow {
    background-color: #f1c40f;
  }
  .btn-sm{
    margin-right: 10px;
  }