<div id="home-page">
    <app-nav></app-nav>
    <div id="home-container">
        <div id="sidenav-placeholder">
    
        </div>
        <div id="content-placeholder">
            <div>
                <div id="header">
                    <h4>CAMPAIGNS</h4>
                    <button id="add-campaign" class="btn blue-gradient">Add Campaign</button>
                </div>
                <app-table></app-table>
            </div>
        </div>
    
    
    </div>
    <div id="footer">
        <footer class="page-footer font-small mdb-color lighten-3 pt-4">
                <div id="links">
            
         
                    <p class="text-uppercase">
                      <a href="#!">About us</a>
                    </p>
                 
                     
         
                    <p class="text-uppercase">
                      <a href="#!">Products</a>
                    </p>
                 
                     
         
                    <p class="text-uppercase">
                      <a href="#!">Awards</a>
                    </p>
    
                     
         
                    <p class="text-uppercase">
                      <a href="#!">Help</a>
                    </p>
                 
                    <p class="text-uppercase">
                      <a href="#!">Contact</a>
                    </p>
                 
                </div>
            <div class="footer-copyright text-center ">© 2020 Copyright</div>
        </footer>
    </div>
</div>
